<tr>
  <td>
    <%= @level %>
  </td>
  <td>
    <%= @monster_growth&.hp %>
  </td>
  <td>
    <%= @monster_growth&.mp %>
  </td>
  <td>
    <%= @monster_growth&.attack %>
  </td>
  <td>
    <%= @monster_growth&.defence %>
  </td>
  <td>
    <%= @monster_growth&.speed %>
  </td>
  <td>
    <%= @monster_growth&.intelligence %>
  </td>
  <td>
    <% if @monster_growth.persisted? %>
      <%= link_to 'edit', edit_monster_growth_path(monster_id: @monster_growth.monster_id) %>
    <% else %>
      <%= link_to 'new', new_monster_growth_path(monster_id: @monster_growth.monster_id, level: @level) %>
    <% end %>
  </td>
</tr>
