<tr>
  <td>
    <%= @level %>
  </td>
  <td>
    <%= @monster_growth&.hp %>
  </td>
  <td>
    <%= @monster_growth&.mp %>
  </td>
  <td>
    <%= @monster_growth&.attack %>
  </td>
  <td>
    <%= @monster_growth&.defence %>
  </td>
  <td>
    <%= @monster_growth&.speed %>
  </td>
  <td>
    <%= @monster_growth&.intelligence %>
  </td>
</tr>
