<div>
  <table>
    <tr>
      <th>Lv</th>
      <th>HP</th>
      <th>MP</th>
      <th>こうげき</th>
      <th>ぼうぎょ</th>
      <th>すばやさ</th>
      <th>かしこさ</th>
    </tr>
    <% @monster_growths.each do |growth| %>
      <tr>
        <td>
          <%= growth.level %>
        </td>
        <td>
          <%= growth.hp %>
        </td>
        <td>
          <%= growth.mp %>
        </td>
        <td>
          <%= growth.attack %>
        </td>
        <td>
          <%= growth.defence %>
        </td>
        <td>
          <%= growth.speed %>
        </td>
        <td>
          <%= growth.intelligence %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
