<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Lineage:</strong>
    <%= t(monster.lineage_translate_key) %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= Monster.human_attribute_name(monster.rank) %>
  </p>

  <p>
    <strong>SpecificSkill:</strong>
    <%= link_to monster.specific_skill.name, monster.specific_skill if monster.specific_skill %>
  </p>

  <p>
    <strong>LevelUpPattern:</strong>
    <%= link_to monster.level_up_pattern.name, monster.level_up_pattern if monster.level_up_pattern %>
  </p>
</div>
