<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Lineage:</strong>
    <%= t(monster.lineage_translate_key) %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= monster.rank %>
  </p>

  <p>
    <strong>SpecificSkill:</strong>
    <%= link_to monster.specific_skill.name, monster.specific_skill %>
  </p>
</div>
