<div id="<%= dom_id monster_growth %>">
  <p>
    <strong>Monster:</strong>
    <%= link_to monster_growth.monster.name, monster_growth.monster %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= monster_growth.level %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= monster_growth.hp %>
  </p>

  <p>
    <strong>Mp:</strong>
    <%= monster_growth.mp %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= monster_growth.attack %>
  </p>

  <p>
    <strong>Defence:</strong>
    <%= monster_growth.defence %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= monster_growth.speed %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= monster_growth.intelligence %>
  </p>

</div>
