<!DOCTYPE html>
<html>
  <head>
    <title>Dqm3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to '図鑑', monsters_path %>
      <%= link_to '特性', characteristics_path %>
      <%= link_to '経験値テーブル', level_up_patterns_path %>
    <div>
    <%= yield %>
  </body>
</html>
